body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff5f5;
    font-family: 'Indie Flower', cursive;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: #ffebee;
    padding: 60px; /* Increase padding for a larger container */
    border-radius: 20px;
    border: 3px solid #000000;
    box-shadow: 0 8px 20px rgba(255, 0, 0, 0.3);
    max-width: 900px; /* Maximum width for larger screens */
    width: 90%; /* Adjust container width based on screen size */
}

.header_text {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(255, 107, 129, 0.2);
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.gif_container img {
    width: 100%; /* Make the GIF responsive to width */
    height: auto;
    max-width: 800px; /* Set maximum size for the GIF */
    border-radius: 10px;
}

/* Media Queries for Phone Screens */
@media (max-width: 768px) {
    .container {
        padding: 40px; /* Reduce padding on smaller screens */
        width: 100%; /* Adjust container width on smaller screens */
    }

    .header_text {
        font-size: 36px; /* Smaller text size for mobile screens */
    }

    .gif_container img {
        max-width: 100%; /* Adjust max-width of the GIF to fit smaller screens */
    }
}
